# Roblox
*.rbxl
*.rbxlx
*.rbxlx.backup
*.rbxm
*.rbxmx
*.rblx

# Rojo
serve.project.json
.build/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Roblox Studio
LocalSettings.blob
